.car-buttons {
  display: flex;
  height: 3.8vh;
}
.car-buttons H4 {
  color: rgb(253, 255, 211);
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline: 0;
  margin: 0 0 0 3vh;
}
.car-full-truck {
  display: flex;
  height: 4.1vh;
  border-bottom: 2px white dashed;
  margin: 0 0 1vh 0;
}
.engine-button__item:hover {
  background-color: rgba(162, 250, 135, 0.466);
}
.engine-button button{
  width: 2.5vh;
  height: 2.5vh;
  padding-inline: 0;
  margin: 0;
  padding: 0;
  font-size: 1.5vh;
  font-weight: 600;
  color: #fff;
  background: transparent;
  border-radius: 0.6vh;
  border-color: chartreuse;
  cursor: pointer;
}
.car-race-truck {
  display: flex;
  align-items: flex-end;
  margin-left: 1.5vh;
  width: 85vw;
}
.car-img {
  display: flex;
  align-items: flex-end;
  height: 4vh;
  width: 8vh;
  stroke: white;
}
.finish-flag {
  position: absolute;
  /* right: 10vw; */
  left: 75vw;
}
.finish-flag img {
  height: 5vh;
}
.finish-flag svg {
  height: 5vh;
  width: 5vw;
}
