.car-header {
  color: #fff;
}
.garage-header {
  min-width: 28vh;
}
.garage-header h2 {
  margin-block-start: .33em;
  margin-block-end: .33em;
}
.page-header h3 {
  margin-block-start: .33em;
  margin-block-end: .33em;
  min-width: 28vh;
}