.Winner {
  min-width: 400px;
  width: 50vw;
  min-height: 100px;
  padding: 5vh;
  background-color: rgba(221, 11, 86, 0.53);
  border-radius: 5vh;
  position: absolute;
  top: -120vh;
  left: 20vw;
  transition-duration: 1s;
  z-index: 100;
}